* {
  box-sizing: border-box;
  /* text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  justify-items: center; */
}

body {
  background-color: whitesmoke;
  text-align: center;
  margin: 5%;
}

#mainTitle {
  border-bottom: dotted;
}

#mainTitle h1 {
  font-size: 0rem;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: solid;
  margin-bottom: 10%;
}
.main-nav p {
  width: 12rem;
  height: 6rem;
  border: solid;
  padding: 0%;
  color: white;
  background-image: linear-gradient(190deg, darkred, black, darkblue);
  font-size: 1.4rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 8px;
}
.main-nav p a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  border: solid white;
}

#reviewTitle {
  width: 80%;
  margin: auto;
  font-size: 1.3rem;
  font-weight: bold;
}

#formStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10%;
  background-image: repeating-linear-gradient(-90deg, rgba(206, 99, 28, 0.842), orange, white);
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 19rem;
  width: 50%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}
.form-row label {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 22rem;
  font-size: 1.6rem;
  border: solid;
  border-radius: 100px 100px;
  padding: 2%;
  overflow: hidden;
}
.form-row input {
  /* width: calc(100%/2 - 20px); */
  display: block;
  margin: auto;
  border: solid;
  overflow: hidden;
}

#underRev {
  height: 2.5rem;
  font-size: 1rem;
  text-align: center;
  margin-top: 0%;
}

#ratingNum {
  font-size: 2.5rem;
  width: 6rem;
  height: 3rem;
  margin-top: 0%;
}

#reviewP {
  height: 3rem;
  width: 90%;
  overflow: hidden;
  font-size: 1rem;
  text-align: center;
  margin-top: 0%;
}

#raterName {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  margin-top: 0%;
}

#raterEmail {
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  margin-top: 0%;
}

#formusbcon {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
}

#formusbcon input {
  padding: 2%;
  font-size: 2rem;
  font-weight: bolder;
  background-color: olivedrab;
  color: bisque;
  border: 0.4rem solid black;
  border-radius: 50px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 30%;
  text-align: center;
}

#formusbcon input:hover {
  opacity: 0.9;
  background-color: rgba(172, 230, 56, 0.89);
  color: black;
  cursor: pointer;
}

/* #rateinput{
    width: 19.8vw;
    height: 3vw;
} */
.rating {
  text-align: center;
  font-size: 1.5vw;
}

.FOOTER .footer-title {
  text-align: center;
  font-size: 5vw;
  border-top: solid;
  border-bottom: solid;
}
.FOOTER .above-icon {
  color: black;
}
.FOOTER .fotr-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}
.FOOTER .fotr-icon-div img {
  height: 4rem;
}/*# sourceMappingURL=addreview.css.map */